.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.no-premium-logo {
  opacity: 0.35;
}

table {
  width: 100%;
}

.bid-change-button {
  position: absolute;
  right: 80px;
  top: 20px;
}

.icon-embed--vertical {
  display: inline-block;
  transform: rotate(90deg);
}

.icon-embed::before {
  content: "◀▶";
  /* Actual icon here: content: "\ea7f";*/
  font-size: .6em;
  /* styling */
}

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

.customCursor {
  cursor: pointer;
}

.bid-type-change-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 8px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.pagination-section {
  margin-top: 40px;
}

tr.even-row {
  background: #81bcef;
}

tr.odd-row {
  background: #dedede;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px;
}